
body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

a{
    color: #11999E;
}

p{
    line-height: 2;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    border-color: gray;
    width: 50px;
   
}

h1{
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
   font-size: 5.625rem;
   color: #66BFBF;
   line-height: 1;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normals;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container{
    background-color: #e4f9f5;
    padding-top: 100px;
    margin-bottom: 50px;
    position: relative;
}

.hello{
    line-height: 2;
    width: 35%;
    margin: auto;
}

/* .middle-container{
  
} */

.skill-row{
    width: 50%;
    margin: auto;
    margin: 100px auto 100px auto;
    text-align: left;
   
}

.tools-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.developement-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 30px;
}

.pro{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 300px;
    
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .contact-me{
    margin-bottom: 80px;
    line-height: 2;
  }

  .copy-right{
    color: #EAF6F6;
  }

  .footer-link{
    margin-right: 25px;
  }







